<!DOCTYPE html>
<html>
  <head>
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    {{if .Site.Params.themeStyle}}
      {{ partial (printf "%s/head.html" .Site.Params.themeStyle) . }}
    {{else}}
      {{ partial "flex/head.html" . }}
    {{end}}
  </head>
  <body data-url="{{ .RelPermalink }}">
    <p>{{.Title }}</p>
    {{if .Site.Params.themeStyle}}
      {{ partial (printf "%s/body-beforecontent.html" .Site.Params.themeStyle) . }}
    {{else}}
      {{ partial "flex/body-beforecontent.html" . }}
    {{end}}
    
    {{ block "main" . }}

    {{ if eq .Title "Search" }}

    <section>
      <h1>Search for: <span id="search-title"></span></h1>
      <br>
      <div id="search-results">
      </div>
      <div class="clear"></div>
    </section>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="./js/lunr.min.js"></script>
    <script>

      window.store = [];
      //console.log(window.store);
      {{ range .Site.AllPages }}
      window.store[{{ .RelPermalink }}] = {
        title:    {{ .Title }},
      content:  {{ .Plain }},
      html:     {{ .Content }},
      url:      {{ .RelPermalink }}
      };
      {{ end }}


    </script>
    <script type="text/javascript" src="./js/search.js"></script>

    {{ end }}

    {{ end }}
    
    {{if .Site.Params.themeStyle}}
      {{ partial (printf "%s/body-aftercontent.html" .Site.Params.themeStyle) . }}
    {{else}}
      {{ partial "flex/body-aftercontent.html" . }}
    {{ end }}

    {{ block "footer" . }}
    {{ end }}

    {{ partial "custom-footer.html" . }}
  </body>
</html>