<style>
    #navbar {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }

    .navbar-item {
        float: right;
    }

    .navbar-item a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    .navbar-item a:hover {
        background-color: #111;
    }
</style>

<ul id="navbar">
    {{- with .Site.Menus.shortcuts}}
    <section>
        {{- range sort . "Weight"}}
        <li class="navbar-item" role="" >
            {{- .Pre -}}
            <a href="{{.URL}}" >{{safeHTML .Name}}</a>
        </li>
        {{- end}}
    </section>
    {{ end }}
</ul>

