{{ define "main" }}
<span id="sidebar-toggle-span">
<a href="#" id="sidebar-toggle" data-sidebar-toggle=""><i class="fa fa-bars"></i> navigation</a>
</span>
{{if .Site.Home.Content }} 
{{.Site.Home.Content}}
{{else}}           
	{{if eq .Site.Language.Lang "fr"}}
		<h1>Personaliser la page d'accueil</h1>
		<p>
		  Le site fonctionne. Ne pas oublier de personaliser cette page avec votre propre contenu. 2 façons de faire :
		</p>
		<ul>
		  <li><b>1. </b> Créer un fichier _index.md dans le dossier content</li>
		  <li><b>2. </b> Configurer le serveur http pour rediriger automatiquement la homepage vers la page de votre choix dans le site</li>
		</ul>
	{{else}}
		<h1>Customize your own home page</h1>
		<p>
		  The site is working. Don't forget to customize this homepage with your own. You typically have 2 choices :
		</p>
		<ul>
		  <li><b>1. </b> Create an _index.md document in the content folder</li>
		  <li><b>2. </b> Configure your server to automatically redirect this home page to one of your documentation pages</li>
		</ul>
	{{end}}
	<p><i class="fa fa-heart fa-4x"></i></p>
{{ end }}

{{ if . }}
<section>
	<h2>Search for: <span id="search-title"></span></h2>
	<br>
	<div id="search-results">
	</div>
	<div class="clear"></div>
</section>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="./js/lunr.min.js"></script>
<script>

	window.store = [];
	console.log(window.store);
	{{ range .Site.AllPages }}
	window.store[{{ .RelPermalink }}] = {
		title:    {{ .Title }},
	content:  {{ .Plain }},
	html:     {{ .Content }},
	url:      {{ .RelPermalink }}
	};
	{{ end }}


</script>
<script type="text/javascript" src="./js/search.js"></script>

{{ end }}

{{ end }}